<!-- Boîte d'alerte pour les petits écrans (présente sur toutes les pages connectées) -->
<div class="message-overlay" id="alertBox">
    <div class="message-box">
        <img
            src="https://cdn-icons-png.flaticon.com/512/5959/5959627.png"
            alt="Attention"
            class="icon"
        >
        <p>Pour une expérience optimale, veuillez utiliser un appareil doté d'un écran plus large.</p>
        <button onclick="document.getElementById('alertBox').style.display='none'">OK</button>
    </div>
</div>