<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paramettre</title>
    <link rel="stylesheet" href="/static/css/paramettre.css">
</head>
<body>
    <div class="ligne-verticale"></div>
    <div class="container-Bar">
        <div class="sp"><span class="sp1">Ryvix</span><Span class="sp2">Lab</Span></div>
        <div class="tite">Découvrir</div>
        <div>
            <a href="acceuil.html"><div class="mini-Con">
                <div><img class="ico" src="/static/images/imageHome.png" alt=""></div>
                <div class="text-mini">Acceuil</div>
            </div></a>
            <a href="resultat.Html"><div class="mini-Con">
                <div><img class="ico" src="/static/images/search.png" alt=""></div>
                <div class="text-mini">Recherche</div>
            </div></a>
            <a href="rapport.html"><div class="mini-Con">
                <div><img class="ico" src="/static/images/rapport (1).png" alt=""></div>
                <div class="text-mini">Rapport</div>
            </div></a>
            <a href="Tableau.html"><div class="mini-Con">
                <div><img class="ico" src="/static/images/statisctics.png" alt=""></div>
                <div class="text-mini">Tableau de bord</div>
            </div></a>
        </div>
        <div class="tite">Autres</div>
        <a href="paramettre.html"><div class="mini-Conselect">
            <div><img class="ico" src="/static/images/Paramettre.png" alt=""></div>
            <div class="text-mini">Paramettre App</div>
        </div></a>
        <div class="cont-bas">
            <div class="mini-Con">
                <div><img class="ico" src="/static/images/user.png" alt=""></div>
                <div id="Utilisateur-conect" class="text-mini">Adema</div>
            </div>
            <a href="index.html"><div class="mini-Con">
                <div><img class="ico" src="/static/images/turn-off.png" alt=""></div>
                <div class="text-mini">Deconnexion</div>
            </div></a>
        </div>
    </div>
    <div class="dvAnle">
        <div class="barre">
            <div class="textBarre1">Utilisateur</div>
        </div>
    </div>
   <div class="GrandTitre">
        <div class="Titre-Form">Paramettre</div>
   </div>

   <div class="container">
        <h3>Ajouter un compte</h3>
        
        <div class="Container-info">
            <div class="mini-conpatien">
                <div class="flexpatient">
                    <span class="sp-titre">Nom d'utilisateur</span>
                    <div><input id="id-Nom" type="text" class="inp-nom"></div>
                </div>
                <div class="flexpatient">
                    <span class="sp-titre">Email</span>
                    <div><input id="id-Date_de_naissance" type="text" class="inp-nom"></div>
                </div>
            </div>
            <div class="mini-conpatien">
                <div class="flexpatient">
                    <span class="sp-titre">Type de Compte</span>
                    <div>
                        <select class="inp-nom" id="choix">
                            <option class="op">Standard</option>
                            <option class="op">Administrateur</option>
                        </select>
                    </div>
                </div>
            </div>
            <div><button class="btn-enregistrement">Ajouter</button></div>
        </div>
        <hr>
        
            <div class="container-liste-analyse">
                <h4>Listes des Utilisateurs</h4>
                <div class="conteneur-tableau">
                    <table class="tableau-analyses">
                    <thead>
                        <tr>
                        <th>Id</th>
                        <th>Utilisatur</th>
                        <th>Email</th>
                        <th>Type de compte</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01</td>
                            <td>Emeline</td>
                            <td>Emeline@gmail</td>
                            <td>Standard</td>
                        </tr>
                        <tr>
                            <td>02</td>
                            <td>Adema</td>
                            <td>Adema@gmail</td>
                            <td>Administrateur</td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
                
   </div>
<div class="message-overlay" id="alertBox">
  <div class="message-box">
    <img src="https://cdn-icons-png.flaticon.com/512/5959/5959627.png" alt="Attention" class="icon">
    <p>Pour une expérience optimale, veuillez utiliser un appareil doté d'un écran plus large.</p>
    <button>OK</button>
  </div>
</div>
</body>
</html>


